* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./Image/sky.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.input-container {
    text-align: center;
    margin-top: 20vw;
}

.input-container input {
    width: 30vw;
    border-radius: 20px;
    margin-right: 1rem;
    text-align: center;
    color: rgb(171, 171, 171);
    height: 4vh;
    font-size: 1.2em;
}

.weather-container {
    width: 40vw;
    margin: auto;
    background-color: rgb(0, 0, 0);
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgb(39, 176, 239);
    opacity: 0.8;
    color: white;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
}

.weather-container h1{
    margin: 0.2rem;
}

.info-container, .location {
    font-size: 1.5rem;
}

.gps-wind-container{
    display: flex;
    justify-content:space-between;
    padding-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
}

.gps-wind-container > p{
    width: 50vw;
}

.forecast-container{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    font-family: 'Kodchasan', sans-serif;
}

.forecastCard {
    width: 15vw;
    background-color: rgb(0,0,0);
    opacity: 0.8;
    color:white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgb(39, 176, 239);
    text-align: center;
    margin-bottom: 10rem;
}   
.forecast-date{
    margin: 1.5rem;
    font-size: 1.2rem;
}

.forecast-container img{
    margin-top: -2rem;
}

.forecastCard h1 {
    font-size: 1.4rem;
    margin: 0.5rem;
}

.description{
    font-size: 1.2rem;
}

.minmaxContainer{
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.minmaxContainer{
    margin-bottom: 2rem;
}

.wrapContainer p:first-child{
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    text-align: center;
    background-color: #01263a;
    border-top: 2px solid rgb(174, 174, 174);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    line-height: 1.5rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 1023px) {
    .input-container input {
        width: 50%;
    }

    .weather-container {
        width: 75%;
    }

    .forecastCard{
        width: 20%;
    }
  }